<ion-view title="Data Siswa" hide-nav-bar="true" cache-view="false" id="loginAdmin">
  <ion-content padding="false" class="manual-ios-statusbar-padding" scroll="false">
    <div id="wrapper" class="bg-light">
      <div id="nav-flex" class="bck">
        <div class="pt-5" id="sidebar-wrapper">
          <div class="sidebar gmbr mb-4">
            <img src="img/admin.png" alt="">
          </div>
          <div class="container">
            <p id="nama" class="text-center text-light text-break">{{formData.nama}}</p>
          </div>
          <div class="d-grid gap-1 mx-3">
            <button ng-click="beranda()" class="btn text-light side-button py-3" type="button"><span
                class="float-start ms-3"><i class="fas fa-home"></i> Beranda</span></button>
            <button data-bs-toggle="collapse" href="#data-pendaftar" role="button" aria-expanded="false"
              aria-controls="data-ranking" class="btn text-light side-button py-3" type="button"><span
                class="float-start ms-3"><i class="fas fa-user-edit"></i> Data Pendaftar</span><i
                class="ms-4 fas fa-angle-down float-end"></i></button>
            <div class="collapse" id="data-pendaftar">
              <div class="d-grid gap-1">
                <button ui-sref="dataPendaftarZonasi()" class="btn text-light side-button py-3" type="button"><span
                    class="float-start ms-4"><i class="fas fa-user-edit"></i> Zonasi</span></button>
                <button ui-sref="dataPendaftarAfirmasi()" class="btn text-light side-button py-3" type="button"><span
                    class="float-start ms-4"><i class="fas fa-user-edit"></i> Afirmasi</span></button>
                <button ui-sref="dataPendaftarPerpindahan()" class="btn text-light side-button py-3" type="button"><span
                    class="float-start ms-4"><i class="fas fa-user-edit"></i> Perpindahan</span></button>
                <button ui-sref="dataPendaftarPrestasi()" class="btn text-light side-button py-3" type="button"><span
                    class="float-start ms-4"><i class="fas fa-user-edit"></i> Prestasi</span></button>
              </div>
            </div>
            <!-- <button ng-click="data_luar_rayon()" class="btn text-light side-button side-active shadow py-3"
              type="button"><span class="float-start ms-3"><i class="fas fa-user-edit"></i> Siswa Luar
                Rayon</span></button> -->
            <button ng-if="cekBukaRanking == true"  data-bs-toggle="collapse" href="#data-ranking" role="button" aria-expanded="false"
              aria-controls="data-ranking" class="btn text-light side-button py-3" type="button"><span
                class="float-start ms-3"><i class="fas fa-trophy"></i> Data Ranking</span><i
                class="ms-4 fas fa-angle-down float-end"></i></button>
            <div class="collapse" id="data-ranking">
              <div class="d-grid gap-1">
                <button ng-click="ranking_zonasi()" class="btn text-light side-button py-3" type="button"><span
                    class="float-start ms-4"><i class="fas fa-trophy"></i> Zonasi</span></button>
                <button ng-click="ranking_afirmasi()" class="btn text-light side-button py-3" type="button"><span
                    class="float-start ms-4"><i class="fas fa-trophy"></i> Afirmasi</span></button>
                <button ng-click="ranking_perpindahan()" class="btn text-light side-button py-3" type="button"><span
                    class="float-start ms-4"><i class="fas fa-trophy"></i> Perpindahan</span></button>
                <button ng-click="ranking_prestasi()" class="btn text-light side-button py-3" type="button"><span
                    class="float-start ms-4"><i class="fas fa-trophy"></i> Prestasi</span></button>
              </div>
            </div>
            <button ng-click="pengaturan()" class="btn text-light side-button py-3" type="button"><span
                class="float-start ms-3"><i class="fas fa-cogs"></i> Pengaturan</span></button>
            <button ng-click="logout()" class="btn text-light side-button py-3" type="button"><span
                class="float-start ms-3"><i class="fas fa-sign-out-alt"></i> Keluar</span></button>
          </div>
        </div>
      </div>
      <div id="flexbox-wrapper" class="w-100">
        <nav class="navbar navbar-expand navbar-light bg-light">
          <div class="container-fluid">
            <button class="btn" id="menu-toggle" ng-click="toogle()"><i class="fas fa-align-justify"></i></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">

              </ul>
              <div class="my-lg-0 d-flex">
                <a id="nightmode" ng-click="nightmode()" class="btn text-dark" href=""><i id="icon-night"
                    class="far fa-sun" style="font-size:24px" data-bs-toggle="tooltip" data-placement="top"
                    title="Light/Night"></i></a>
                <a class="navbar-brand text-dark" href=""><i class="far fa-question-circle"
                    style="font-size:24px"></i></a>
              </div>
            </div>
          </div>
        </nav>
        <div class="w-100 h-100" id="content-flex">
          <div class="d-flex flex-column w-100" style="min-height: 100vh;">
            <div id="page-content-wrapper" style="flex :1">

              <div id="main-content" class="container-fluid mt-5 px-5">
                <div class="">
                  <div class="mb-3">
                    <h5 id="page-header" class="text-dark fw-bold mb-0">
                      Data Siswa Luar Rayon
                    </h5>
                    <span id="small-header" class="text-muted">Disini berisi data siswa yang didaftarankan dari luar
                      rayon</span>
                  </div>
                  <div class="card shadow-sm mb-4 animated--grow-in">
                    <div class="card-header py-3 bg-white">
                      <div class="row">
                        <div id="icon-group-1" class="col-xl-8">
                          <a class=" btn btn-sm btn-success shadow-sm" data-bs-toggle="modal"
                            data-bs-target="#modal_tambah"><i class="fa fa-plus fa-sm"></i>
                            Tambah</a>
                          <a ng-click="cetak()" class="btn btn-sm btn-primary shadow-sm px-3"><i
                              class="fa fa-print fa-sm "></i> Export XLS</a>
                        </div>
                        <div id="icon-group-2" class="col-xl-4 d-flex">
                          <div class="input-group input-group-sm float-end me-2 flex-grow-1">
                            <input type="text" class="search form-control" placeholder="Search" aria-label="Search"
                              aria-describedby="basic-addon2" ng-model="searchData">
                            <span class="input-group-text" id="basic-addon2"><i
                                class="fa-solid fa-magnifying-glass"></i></span>
                          </div>
                          <a onclick="history.back()" id="btn-back"
                            class="btn btn-sm btn-outline-primary shadow-sm float-end px-3 ">Kembali</a>
                        </div>
                      </div>
                    </div>
                    <div class="card-body">

                      <div class="table-responsive">
                        <table class="table" id="" width="100%" cellspacing="0">
                          <thead>
                            <tr>
                              <th width="">No</th>
                              <th width="">NISN</th>
                              <th width="">Nama</th>
                              <th width="">Asal Sekolah</th>
                              <th width="">Aksi</th>
                            </tr>
                          </thead>

                          <tbody>

                            <tr ng-repeat="data in siswa | orderBy: '-nisn' | filter:searchData">
                              <td width="">{{$index+1}}</td>
                              <td width="">'{{data.nisn}}</td>
                              <td width="">{{data.nama}}</td>
                              <td width="">{{data.sekolah_asal}}</td>
                              <td width="">
                                <a data-id="{{data.$id}}" data-bs-toggle="modal" data-bs-target="#modal_edit"
                                  title="Detail" class="updateData btn bg-warning text-light"><span
                                    class="fas fa-pen"></span></a>

                                <a data-id="{{data.$id}}" data-bs-toggle="modal" data-bs-target="#modal_hapus"
                                  title="Delete" class="removeData btn bg-danger text-light "><span
                                    class="fas fa-fw fa-trash"></span></a>

                              </td>
                            </tr>

                          </tbody>
                        </table>
                        <div class="modal fade" id="modal_tambah" tabindex="-1" role="dialog"
                          aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                              <div class="modal-header border-0">
                                <h5 class="modal-title fw-bold" id="exampleModalLabel">Tambah Data
                                </h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                  aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                <form id="form-tambah-siswa-rayon">
                                  <div class="form-group row mb-3">
                                    <label for="inputEmail3" class="col-xl-2 col-form-label">Nama</label>
                                    <div class="col-xl-10">
                                      <input type="text" class="form-control" id="namaSiswa"
                                        placeholder="Masukan Nama Lengkap">
                                    </div>
                                  </div>
                                  <div class="form-group row mb-3">
                                    <label for="inputEmail3" class="col-xl-2 col-form-label">NISN</label>
                                    <div class="col-xl-10">
                                      <input type="text" class="form-control" id="nisnSiswa" placeholder="Masukan NISN">
                                    </div>
                                  </div>
                                  <div class="form-group row mb-3">
                                    <label for="inputEmail3" class="col-xl-2 col-form-label">NIK</label>
                                    <div class="col-xl-10">
                                      <input type="text" class="form-control" id="nikSiswa" placeholder="Masukan NIK">
                                    </div>
                                  </div>
                                  <div class="form-group row mb-3">
                                    <label for="inputEmail3" class="col-xl-2 col-form-label">Tanggal
                                      Lahir</label>
                                    <div class="col-xl-10">
                                      <input type="text" class="form-control" id="tglLahirSiswa"
                                        placeholder="yyyy-mm-dd">
                                    </div>
                                  </div>
                                  <div class="form-group row mb-3">
                                    <label for="inputEmail3" class="col-xl-2 col-form-label">Tempat
                                      Lahir</label>
                                    <div class="col-xl-10">
                                      <input type="text" class="form-control" id="tempatLahirSiswa"
                                        placeholder="Masukan Tempat lahir">
                                    </div>
                                  </div>
                                  <div class="form-group row mb-3">
                                    <label for="inputEmail3" class="col-xl-2 col-form-label">Alamat</label>
                                    <div class="col-xl-10">
                                      <input type="text" class="form-control" id="AlamatSiswa"
                                        placeholder="Masukan Alamat">
                                    </div>
                                  </div>
                                  <div class="form-group row mb-3">
                                    <label for="inputEmail3" class="col-xl-2 col-form-label">Sekolah
                                      Asal</label>
                                    <div class="col-xl-10">
                                      <input type="text" class="form-control mb-3" id="sekolahSiswa"
                                        placeholder="Masukan Nama Sekolah">
                                      <input type="text" class="form-control" id="npsnSiswa"
                                        placeholder="Masukan NPSN Sekolah">
                                    </div>
                                  </div>

                                </form>
                              </div>
                              <div class="modal-footer border-0">
                                <button type="button" class="btn btn-outline-secondary"
                                  data-bs-dismiss="modal">Tutup</button>
                                <button type="button" class="btn btn-success"
                                  ng-click="simpanTambahDataSiswa()">Simpan</button>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!--modal edit -->
                        <div class="modal fade" id="modal_edit" tabindex="-1" role="dialog"
                          aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                              <div class="modal-header border-0">
                                <h5 class="modal-title fw-bold" id="exampleModalLabel">Edit Data
                                </h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                  aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                <form>
                                  <div class="form-group row mb-3">
                                    <label for="inputEmail3" class="col-xl-2 col-form-label">Nama</label>
                                    <div class="col-xl-10">
                                      <input id="namaEdit" type="text" class="form-control" value="">
                                    </div>
                                  </div>
                                  <div class="form-group row mb-3">
                                    <label for="inputEmail3" class="col-xl-2 col-form-label">NISN</label>
                                    <div class="col-xl-10">
                                      <input id="nisnEdit" type="text" class="form-control" value="" readonly>
                                    </div>
                                  </div>
                                  <div class="form-group row mb-3">
                                    <label for="inputEmail3" class="col-xl-2 col-form-label">NIK</label>
                                    <div class="col-xl-10">
                                      <input id="nikEdit" type="text" class="form-control" value="">
                                    </div>
                                  </div>
                                  <div class="form-group row mb-3">
                                    <label for="inputEmail3" class="col-xl-2 col-form-label">Sekolah
                                      SD</label>
                                    <div class="col-xl-10">
                                      <input id="sekolah_asalEdit" type="text" class="form-control" value="">
                                    </div>
                                  </div>
                                  <div class="form-group row mb-3">
                                    <label for="inputEmail3" class="col-xl-2 col-form-label">NPSN</label>
                                    <div class="col-xl-10">
                                      <input id="npsnEdit" type="text" class="form-control" value="">
                                    </div>
                                  </div>

                                  <div class="modal-footer border-0">
                                    <button type="button" class="btn btn-outline-secondary"
                                      data-bs-dismiss="modal">Tutup</button>
                                    <button type="button" ng-click="updateSiswa()"
                                      class="btn btn-success text-light">Simpan</button>
                                  </div>
                                </form>
                              </div>

                            </div>
                          </div>
                        </div>

                        <!--modal hapus  -->
                        <div class="modal fade" id="modal_hapus" tabindex="-1" role="dialog"
                          aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header border-0">
                                <h5 class="modal-title" id="exampleModalLabel">Hapus Data</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                  aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                <h6>Apakah Anda yakin ingin menghapus data Admin?, data yg sudah
                                  di
                                  hapus tidak dapat dikembalikan lagi</h6>
                              </div>
                              <div class="modal-footer border-0">
                                <button type="button" class="btn btn-outline-secondary"
                                  data-bs-dismiss="modal">Tutup</button>
                                <button type="button" ng-click="hapusSiswa()" class="btn btn-danger">Hapus</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <footer class="ps-5 text-muted" style="margin-bottom: 8vh;">
              <div>
                <span class=" fw-bold montserrat" style="font-size: small;"> © 2023 Copyright:</span>
                <span class=" fw-bold montserrat" style="font-size: small;"
                  href="https://e-ppdb.bulelengkab.go.id/">e-PPDB</span>
              </div>
            </footer>
          </div>
        </div>
      </div>



    </div>
  </ion-content>
</ion-view>
