<ion-view title="Data Admin SD" hide-nav-bar="true" cache-view="false" id="">
  <ion-content padding="false" class="manual-ios-statusbar-padding" scroll="false">
    <div id="wrapper" class="bg-light">
      <div id="nav-flex" class="bck">
        <div class="pt-5" id="sidebar-wrapper">
          <div class="sidebar gmbr mb-4">
            <img src="img/buleleng.png" alt="">
          </div>
          <div class="container">
            <p id="nama" class="text-center text-light text-break">{{formData.nama}}</p>
          </div>
          <div class="d-grid gap-1 mx-3">
            <button ng-click="beranda()" class="btn text-light side-button py-3" type="button"><span
                class="float-start ms-3"><i class="fas fa-home"></i> Beranda</span></button>
            <button data-bs-toggle="collapse" href="#data-admin" role="button" aria-expanded="true"
              aria-controls="data-admin" class="btn text-light side-button py-3" type="button"><span
                class="float-start ms-3"><i class="fas fa-user-edit"></i> Data Admin</span><i
                class="ms-4 fas fa-angle-down float-end"></i></button>
            <div class="collapse show" id="data-admin">
              <div class="d-grid gap-1">
                <button ui-sref="dataAdminSd()" class="btn text-light side-button side-button side-active shadow py-3"
                  type="button"><span class="float-start ms-4"><i class="fas fa-user-edit"></i> SD</span></button>
                <button ui-sref="dataAdminSmp()" class="btn text-light side-button py-3" type="button"><span
                    class="float-start ms-4"><i class="fas fa-user-edit"></i> SMP</span></button>
                <button ui-sref="dataAdminSuperDinas()" class="btn text-light side-button py-3" type="button"><span
                    class="float-start ms-4"><i class="fas fa-user-edit"></i> Super</span></button>
              </div>
            </div>
            <button ui-sref="dataSiswa()" class="btn text-light side-button py-3" type="button"><span
                class="float-start ms-3"><i class="fas fa-users"></i> Data Siswa</span></button>
            <button data-bs-toggle="collapse" href="#data-siswa" role="button" aria-expanded="false"
              aria-controls="data-siswa" class="btn text-light side-button py-3" type="button"><span
                class="float-start ms-3"><i class="fas fa-users"></i> Data Pendaftar</span><i
                class="ms-4 fas fa-angle-down float-end"></i></button>
            <div class="collapse" id="data-siswa">
              <div class="d-grid gap-1">
                <button ui-sref="dataPendaftarSeluruhSMP()" class="btn text-light side-button py-3" type="button"><span
                    class="float-start ms-4"><i class="fas fa-users"></i> Seluruh</span></button>
                <button ui-sref="dataPendaftarAdminSuper()" class="btn text-light side-button py-3" type="button"><span
                    class="float-start ms-4"><i class="fas fa-users"></i> Per SMP</span></button>
              </div>
            </div>
            <button data-bs-toggle="collapse" href="#data-sekolah" role="button" aria-expanded="false"
              aria-controls="data-sekolah" class="btn text-light side-button py-3" type="button"><span
                class="float-start ms-3"><i class="fas fa-school"></i> Data Sekolah</span><i
                class="ms-4 fas fa-angle-down float-end"></i></button>
            <div class="collapse" id="data-sekolah">
              <div class="d-grid gap-1">
                <button ui-sref="dataSekolahSd()" class="btn text-light side-button py-3" type="button"><span
                    class="float-start ms-4"><i class="fas fa-school"></i> SD</span></button>
                <button ui-sref="dataSekolahSmp()" class="btn text-light side-button py-3" type="button"><span
                    class="float-start ms-4"><i class="fas fa-school"></i> SMP</span></button>
              </div>
            </div>
            <button ng-click="pengaturan()" class="btn text-light side-button py-3" type="button"><span
                class="float-start ms-3"><i class="fas fa-cogs"></i> Pengaturan</span></button>
            <button ng-click="logout()" class="btn text-light side-button py-3" type="button"><span
                class="float-start ms-3"><i class="fas fa-sign-out-alt"></i> Keluar</span></button>
          </div>
        </div>
      </div>
      <div id="flexbox-wrapper" class="w-100">
        <nav class="navbar navbar-expand navbar-light bg-light">
          <div class="container-fluid">
            <button class="btn" id="menu-toggle" ng-click="toogle()"><i class="fas fa-align-justify"></i></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              </ul>
              <div class="my-lg-0 d-flex">
                <a id="nightmode" ng-click="nightmode()" class="btn text-dark" href=""><i id="icon-night"
                    class="far fa-sun" style="font-size:24px" data-bs-toggle="tooltip" data-placement="top"
                    title="Light/Night"></i></a>
                <a class="btn text-dark" href=""><i class="far fa-question-circle" style="font-size:24px"
                    data-bs-toggle="tooltip" data-placement="top" title="Bantuan"></i></a>
              </div>
            </div>
          </div>
        </nav>

        <div class="w-100 h-100" id="content-flex">
          <div class="d-flex flex-column" style="min-height: 100vh;">

            <div id="page-content-wrapper" style="flex :1">

              <div id="main-content" class="container-fluid mt-5 px-5">
                <div class="">
                  <div class="">
                    <div class="mb-3">
                      <h5 id="page-header" class="text-dark fw-bold mb-0">
                        Data Admin e-PPDB
                      </h5>
                      <span id="small-header" class="text-muted">Admin SD</span>
                    </div>
                    <div class="">
                      <div class="card shadow-sm mb-4 animated--grow-in">
                        <div class="card-header py-3 bg-white">
                          <div class="row">
                            <div id="icon-group-1" class="col-xl-8">
                            </div>
                            <div id="icon-group-2" class="col-xl-4 d-flex">
                              <div class="input-group input-group-sm float-end me-2 flex-grow-1">
                                <input type="text" class="search form-control" placeholder="Search" aria-label="Search"
                                  aria-describedby="basic-addon2" ng-model="searchData">
                                <span class="input-group-text" id="basic-addon2"><i
                                    class="fa-solid fa-magnifying-glass"></i></span>
                              </div>
                              <a onclick="history.back()" id="btn-back"
                                class="btn btn-sm btn-outline-primary shadow-sm float-end px-3 ">Kembali</a>
                            </div>
                          </div>
                        </div>

                        <div class="card-body">

                          <div class="table-responsive">
                            <table class="table" id="" width="100%" cellspacing="0">
                              <thead>
                                <tr>
                                  <th width="">No</th>
                                  <th width="">NPSN</th>
                                  <th width="">Sekolah</th>
                                  <th width="">Aksi</th>
                                </tr>
                              </thead>

                              <tbody>

                                <tr ng-repeat="data in adminSD| orderBy: 'sekolah' | filter:searchData">
                                  <td width="">{{$index+1}}</td>
                                  <td width="">{{data.npsn}}</td>
                                  <td width="">{{data.sekolah}}</td>
                                  <td width="">
                                    <a data-id="{{data.$id}}" data-bs-toggle="modal" data-bs-target="#modal_edit"
                                      title="Detail" class="updateDataAdminSd btn bg-warning text-light"><span
                                        class="fas fa-pen"></span></a>

                                    <a data-id="{{data.$id}}" title="Delete"
                                      class="removeData btn bg-danger text-light"><span
                                        class="fas fa-fw fa-trash"></span></a>

                                  </td>
                                </tr>

                              </tbody>
                            </table>
                            <!--modal tambah -->
                            <div class="modal fade" id="modal_tambah" tabindex="-1" role="dialog"
                              aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                  <div class="modal-header border-0">
                                    <h5 class="modal-title fw-bold text-dark" id="exampleModalLabel">Tambah
                                      Data
                                    </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                      aria-label="Close"></button>
                                  </div>
                                  <div class="modal-body">
                                    <form>
                                      <div class="form-group row mb-3">
                                        <label for="inputEmail3" class="col-xl-2 col-form-label">Nama</label>
                                        <div class="col-xl-10">
                                          <input type="text" class="form-control" ng-model="form.nama">
                                        </div>
                                      </div>
                                      <div class="form-group row mb-3">
                                        <label for="inputPassword3" class="col-xl-2 col-form-label">NIP</label>
                                        <div class="col-xl-10">
                                          <input type="text" class="form-control" ng-model="form.nip">
                                        </div>
                                      </div>
                                      <div class="form-group row mb-3">
                                        <label for="inputPassword3" class="col-xl-2 col-form-label">Email</label>
                                        <div class="col-xl-10">
                                          <input type="email" class="form-control" ng-model="form.email">
                                        </div>
                                      </div>
                                      <div class="form-group row mb-3">
                                        <label for="inputPassword3" class="col-xl-2 col-form-label">Password</label>
                                        <div class="col-xl-10">
                                          <input type="password" class="form-control" ng-model="form.password">
                                        </div>
                                      </div>
                                      <div class="form-group row mb-3">
                                        <label for="inputPassword3" class="col-xl-2 col-form-label">Konfirmasi
                                          Password</label>
                                        <div class="col-xl-10">
                                          <input type="password" class="form-control"
                                            ng-model="form.konfirmasipassword">
                                        </div>
                                      </div>
                                    </form>
                                  </div>
                                  <div class="modal-footer border-0">
                                    <button type="button" class="btn btn-outline-secondary"
                                      data-bs-dismiss="modal">Tutup</button>
                                    <button type="button" class="btn btn-primary" ng-click="simpan()">Simpan</button>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <!--modal edit -->
                            <div class="modal fade" id="modal_edit" tabindex="-1" role="dialog"
                              aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                  <div class="modal-header border-0">
                                    <h5 class="modal-title fw-bold text-dark" id="exampleModalLabel">Lihat
                                      Data
                                    </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                      aria-label="Close"></button>
                                  </div>
                                  <div class="modal-body">
                                    <form>
                                      <div class="form-group row mb-3">
                                        <label for="inputEmail3" class="col-xl-2 col-form-label">Nama</label>
                                        <div class="col-xl-10">
                                          <input type="text" class="form-control" id="namaAdmin" value="" readonly>
                                        </div>
                                      </div>
                                      <div class="form-group row mb-3">
                                        <label for="inputPassword3" class="col-xl-2 col-form-label">Email</label>
                                        <div class="col-xl-10">
                                          <input type="text" class="form-control" id="emailAdmin" value="" readonly>
                                        </div>
                                      </div>
                                      <div class="form-group row mb-3">
                                        <label for="inputPassword3" class="col-xl-2 col-form-label">Password</label>
                                        <div class="col-xl-10">
                                          <input type="text" class="form-control" id="passwordAdmin" value="" readonly>
                                        </div>
                                      </div>
                                      <div class="form-group row mb-3">
                                        <label for="inputEmail3" class="col-xl-2 col-form-label">Akses Edit Kordinat</label>
                                        <div class="col-xl-10">
                                          <select class="form-select" id="aksesAdmin">
                                            <option value="true">Buka Akses</option>
                                            <option value="false">Tutup Akses</option>
                                          </select>
                                        </div>
                                      </div>
                                    </form>
                                  </div>
                                  <div class="modal-footer border-0">
                                    <button type="button" class="btn btn-outline-secondary"
                                      data-bs-dismiss="modal">Tutup</button>
                                    <button type="button" ng-click="simpanEditAdminSD()"class="btn btn-success">Simpan</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>

            </div>
            <footer class="ps-5 text-muted" style="margin-bottom: 8vh;">
              <div>
                <span class=" fw-bold montserrat" style="font-size: small;"> © 2023 Copyright:</span>
                <span class=" fw-bold montserrat" style="font-size: small;"
                  href="https://e-ppdb.bulelengkab.go.id/">e-PPDB</span>
              </div>
            </footer>
          </div>
        </div>

      </div>


    </div>
  </ion-content>
</ion-view>